*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenitore{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
main{
    height: calc(100% - 100px);
}
.sidebar{
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 100%;
    float: left;
}
.sidebar-top{
    height: calc(100% - 80px);
    min-height: 350px;
}
.sidebar-bottom{
    height: 80px;
    position: relative;
    background-color: rgb(0, 0, 0);
}
.main-album{
    background-color: rgb(70, 67, 67);
    width: calc(100% - 200px);
    height: 100%;
    padding: 0px 0px 20px;
    overflow: auto;
    /* display: flex; */
    float: left;
}
footer {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100px;
    color: white;
    background-color: rgb(31, 32, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Test per ridurre il numero di righe*/
/* .cont-flex-center{
    display: flex;
    align-items: center;
} */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

a{
    text-decoration: none;
    color: white;
}
li {
    color: gray;
     list-style-type: none;
}
h4{
    color: white;
}
img{
    width: 100%;
}
.logo{
    /* background-color: chartreuse; */
    position: relative;
    padding: 10px;
}
.logo img{
    width: 75%;
}
.lista-1{
    padding: 3px;
    /* background-color: blue; */
}
.lista-1 ul li{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 9px;
}
.lista-1 span{
    font-size: 13.5px;
    margin: 0 3.5px;
}
.lista-1 img{
    width:17%;
}
.lista-2{
    flex-grow: 1;
    /* background-color: coral; */
}
#crea i{
  font-size: 50px;
  margin-right: 5px;
}
#crea {
   display: flex;
   align-items: center;
}
.lista-2 li{
    margin: 14px;
}
.download{
    color: white;
    /* background-color: black; */
    display: flex;
    font-size: 13px;
    align-items: center;
    padding: 7px;
}

.download img{
    margin-right: 11px;
    color: white;
    width: 18px;
    
}
.utente{
    display: flex;
    color: wheat;
    /* background-color: rgb(255, 0, 0); */
    /* justify-self: flex-end; */
    padding: 8px;
    justify-content: flex-start;
    align-items: center;
}
.utente img{
    margin-right: 5px;
    background-color: rgb(66, 66, 66);
    width: 20px;
    border-radius: 50% ;
}
.upgrade{
    position: fixed;
    z-index: 1; 
    width: calc(100% - 200px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    display: inline-block;
}
.upgrade div{
    margin-top: 30px;
    margin-right: 40px;
}
.upgrade a{
    border-radius: 20px; 
    border:2px solid white;  
    padding:10px 30px;
    font-size:0.9em;
}
.upgrade a:hover {
    transform: scale(1.3) ;
}
.main-cont-top{
    text-align: center;
}
.main-cont-top a{
    margin: 10px;
}
.cont-playlist{
    height: calc(100% - 80px);
    margin-top: 90px;
}
.main-cont-bottom{
}
.prova {
    /* width: 100%; */
    margin: 20px;
    display: flow-root;
}
.album-testo{
    padding: 13px 5px;
}
.album {
    float: left;
    width: calc((100% / 6) - 10px);
    /* display: flex; Trovato difficolata nel media screen*/ 
    margin: 5px;
    position: relative;
}
.album img{
    background-size: cover;;  
}

.descrizione {
    margin-top: 10px;
    text-align: center;
}

.titolo {
    color: #fff;
    font-weight: 700;
}

.artista {
    font-size: 13px;
    text-decoration: none;
    color: #b3b3b3;
}

.album:hover img{
    opacity: 0.7;
   }
.prova.rad img{
    border-radius: 50%;
}

.footer-left {
    display: flex;
    margin-left: 0.3em;
    align-items: center;
}
.footer-left img{
    width: 40px;
}
.testo-left{
    display: flex;
    flex-direction: column;
    font-size: 11px;
    margin: 15px;
}
.footer-left i{
    margin: 10px;
}

.footer-center {
    /* background-color: rgb(31, 32, 32); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
}
.center-top{
    display: flex;
    align-items: center;
}
.center-top i{
    margin: 0 9px;
}
.center-top span i{
    font-size: 2rem;
}
.center-bottom{
    margin:14px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(31, 32, 32); */
}
.bordo{
    /* border: 2px solid #ff0000; */
    position: relative;
    height: 7px;
    width: 25vw;
    border-radius: 6.5px;
    background-color: #5a5a5a;
    margin: 0 19px;
}
.bordo div{
    border-radius: 6.5px;
    /* display: flex; */
    background-color: #c2c2c2;
    width: 8vw;
    height: 7px;
}
.bordo:hover div{
    background-color: #0dad0d;
}

.footer-right {
    display: flex;
    align-items: center;
    margin: 0 5px;
}
.footer-right i{
    margin:0 9.5px ;
}
.bordo-2{
    position: relative;
    height: 5px;
    width: 12vw;
    border-radius: 6.5px;
    background-color: #5a5a5a;
    margin: 0 7px;
}
.bordo-2 div{
    border-radius: 6.5px;
    /* display: flex; */
    background-color: #c2c2c2;
    width: 2vw;
    height: 5px;
}
.bordo-2:hover div{
    background-color: #0dad0d;
}
.bordo-3{
    height: 2px;
    width: 75%;
    border-radius: 1.5px;
    background-color: #5a5a5a;
    margin: 0 7px;
}

/*------------------------------------------------------------------------------------------------*/

/* media query s */
@media screen and (max-width:700px ) and (min-width: 601px){


    .album {
        width: calc((100% - 30px) / 2);
    }
}

/* media query xs */
@media screen and (max-width:600px ) and (min-width: 500px){


    .album {
        width: calc((100% - 30px) / 2);
    }
}

/* media query md */
@media screen and (max-width:1099px ) and (min-width: 701px){


    .album {
        width: calc((100% /4) - 10px);
    }
}

